<html ng-app="klujeTests" ng-controller="Tests" windowvisible>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>kluje</title>
		<link rel="stylesheet" href="styles/bootstrap.min.css">
	</head>
    <body style="margin:10px;">
		<h3>Tests for kluje interpreter in JavaScript</h3>
        <h4 ng-if="fails > 0" style="color:red;">Fails: {{fails}}</h4>
        <h4 ng-if="fails == 0" style="color:green;">Success!</h4>
        
        <div class="well" style="margin:5px;padding:5px;" ng-repeat="data in results">
            <div ng-if="data.name">Name: {{data.name}}</div>
            <div style="white-space:pre">Test: {{data.test}}</div>
            <div ng-if="!data.passed" style="color:red;">Failed</div>
            <div ng-if="data.expect">Expected: {{data.expect}}</div>
            <div>Result: {{data.result}}</div>
            <div ng-if="data.output.length">Output:</div>
            <div ng-repeat="line in data.output track by $index"><i ng-bind="line"></i></div>
        </div>
        <div><a href="index.html">index</a> <a href="repl.html">repl</a>

		<script src="scripts/angular.min.js"></script>        
		<script src="scripts/jex.js"></script>
 		<script src="scripts/kluje/expander.js"></script>
 		<script src="scripts/kluje/evaluator.js"></script>
 		<script src="scripts/kluje/funcs.js"></script>
 		<script src="scripts/kluje/macros.js"></script>
 		<script src="scripts/kluje/output.js"></script>
 		<script src="scripts/kluje/parser.js"></script>
 		<script src="scripts/kluje/symbols.js"></script>
 		<script src="scripts/kluje/types.js"></script>
 		<script src="scripts/kluje/utils.js"></script>
 		<script src="scripts/kluje/kluje.js"></script>
		<script src="scripts/testdata.js"></script>
		<script src="scripts/tests.js"></script>
    </body>
</html>
